@font-face {
    font-family: 'Metropolis-Regular';
    src: url('../fonts/Metropolis-Regular.eot');
    src: url('../fonts/Metropolis-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Metropolis-Regular.woff2') format('woff2'),
        url('../fonts/Metropolis-Regular.woff') format('woff'),
        url('../fonts/Metropolis-Regular.ttf') format('truetype'),
        url('../fonts/Metropolis-Regular.svg#Metropolis-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis-Bold';
    src: url('../fonts/Metropolis-Bold.eot');
    src: url('../fonts/Metropolis-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Metropolis-Bold.woff2') format('woff2'),
        url('../fonts/Metropolis-Bold.woff') format('woff'),
        url('../fonts/Metropolis-Bold.ttf') format('truetype'),
        url('../fonts/Metropolis-Bold.svg#Metropolis-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open-Sans-regular';
    src: url('../fonts/Open-Sans-regular.eot'),
         url('../fonts/Open-Sans-regular.woff2') format('woff2'),
         url('../fonts/Open-Sans-regular.woff') format('woff'),
         url('../fonts/Open-Sans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

img,object,embed,video{max-width:100%;display:block;width:100%; margin: 0px; padding: 0px;}

.ie6 img{width:100%;display:block}
body{position:relative; background: rgb(125,185,232);
background: -moz-linear-gradient(-45deg,  rgba(125,185,232,1) 1%, rgba(30,87,153,1) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(125,185,232,1) 1%,rgba(30,87,153,1) 100%);
background: linear-gradient(135deg,  rgba(125,185,232,1) 1%,rgba(30,87,153,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 );
}
body,div,ul,li,h1,h2,h3,h4,h5,h6,p,blockquote,th,td,img{font:'Metropolis-Regular',Sans-Serif;margin:0;padding:0;border:0;color:#555}
.clear{clear:both}
*{outline:none}
*,::after,::before{box-sizing:border-box}
.hide{display:none}
::-moz-selection{background:none repeat scroll 0 0 #70c831;color:#FFF}
label{margin:0}
label.error{font-size:11px!important;text-align:right!important;right:0!important;top:-10px!important;color:red!important}
#footer_form label.error{font-size:11px!important;text-align:right!important;right:0!important;top:20px!important;color:red!important}
:root{--main-color:#165e89;--light-greenbg:#e6f6e8;--light-redbg:#fee4ee;--light-yellowbg:#ffefd2;--light-bluebg:#e9f4ff}
textarea,input:matches( [type="email"],[type="number"],[type="password"],[type="search"],[type="tel"],[type="text"],[type="url"] ){-webkit-appearance:none}
input[type="number"]{-moz-appearance:textfield}
input[type="number"]:hover,input[type="number"]:focus{-moz-appearance:number-input}

.container{max-width:95%}

h1 {font: /*bold*/ 40px/50px 'Metropolis-Regular',Sans-Serif; color: #333;}
h2 {font: /*bold*/ 35px/45px 'Metropolis-Regular',Sans-Serif; color: #333;}
h3 {font: /*bold*/ 30px/35px 'Metropolis-Regular',Sans-Serif; color: #333;}
h4 {font: /*bold*/ 25px/30px 'Metropolis-Regular',Sans-Serif; color: #333;}
h5 {font: /*bold*/ 20px/25px 'Metropolis-Regular',Sans-Serif; color: #333;}
h6 {font: /*bold*/ 15px/20px 'Metropolis-Regular',Sans-Serif; color: #333;}

.Metropolis-Regular { font-family:'Metropolis-Regular',Sans-Serif !important;}
.Metropolis-Bold { font-family:'Metropolis-Bold',Sans-Serif !important;}


p{font-family:'Open-Sans-regular',Sans-Serif;font-size:16px;color:#555;line-height:24px;text-align: left;padding: 10px 0;}

a{color:#505e7a;text-decoration:none; -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s;}
a:hover{color:#000;text-decoration:underline}

::-webkit-input-placeholder{color:#000}
:-moz-placeholder{color:#000}
::-moz-placeholder{color:#000}
:-ms-input-placeholder{color:#000}
.text-trans-none{text-transform:none!important}
.text-center{text-align:center}
.text-right{text-align:right!important}
.text-white{color:#FFF!important}
.text-black{color:#555!important}
.text-ash{color:#999!important}
.text-green{color:#32b16e!important}
.text-blue{color:#282d78!important}
.text-az-blue{color:var(--main-color)!important}
.text-yellow{color:#f7941d!important}
.text-light-green{color:#42c17e!important}
.text-red{color:#da1f27!important}
.text-violet{color:#7d1771!important}
.text-orange{color:#e94c26!important}
.text-capital{text-transform:uppercase!important}
.bold{font-weight:700}
.width-auto{width:auto!important}
label{padding:0;margin:0}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#777;opacity:.5}

.v-center  {flex-direction: column; justify-content: center !important; display: flex;}



.wrapper-main{width:100%; background: url(../images/ajax-loader.gif) no-repeat center center / 60px;}

.welcome-image { text-align: center;}
.welcome-image img { width: 550px; margin: 0 auto; padding-bottom: 30px;}

header { width: 100%; position:absolute; left: 0; top: 30px; z-index: 9; padding: 0px 40px;}
section { width: 100%; min-height:100vh; overflow:hidden}
.main-content { padding: 0px 30px;}
footer { width: 100%; left: 0; bottom: 30px; z-index: 9;}

.az-logo {}
.az-logo img { width: 150px; margin: 0 auto;}






.home-page { background: url(../images/bg1.jpg) no-repeat center top / cover;}



.home-title { font-size: 50px; line-height: 55px; color: #FFF;}
.home-title span { font-size: 40px;}


.n-btn {}

.n-btn-main { padding: 50px 0px 0px;}
.n-btn { width: auto; font: bold 18px/20px 'Metropolis-Bold',Sans-Serif; color: #555; border-radius: 8px; text-transform: uppercase; text-decoration: none; padding: 15px 30px; display: inline-block; border: 0px; text-decoration: none !important; background: #FFF; box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.3); margin: 0px 5px 10px;}

.n-btn:hover { background: #0CF; color: #FFF;}


.home-cont {}
.home-cont label {}





.purpose-visit-page {background: url(../images/bg2.jpg) no-repeat center top / cover;}

.back-btn-main {}
.back-btn { font: bold 25px/20px 'Metropolis-Bold',Sans-Serif; color: #FFF; text-align: left; background: url(../images/arrow-left-w.webp) no-repeat left center / 20px; padding-left: 30px; cursor: pointer; display: inline-block;}
.back-btn:hover { color: #0cf;}


.guest-page {background: url(../images/bg3.jpg) no-repeat center top / cover;}



.cm-field-main { margin-bottom: 25px; position: relative; padding: 0px 0px;}
.cm-field-main p { font-size: 14px; line-height: 14px; color: #FFF; padding: 0px 0px 10px;}

.cm-field-main .input-field { width: 100%; height: 50px; font-size: 18px; line-height: 20px; border: 0px solid #CCC; background: #FFF; padding: 0px 15px 0px 55px; border-radius: 5px; font-family:'Metropolis-Regular',Sans-Serif !important; }

.cm-field-main .field-big {width: 100%; height: 100px; font-size: 14px; line-height: 20px; border: 1px solid #CCC; background: #FFF; padding: 5px 15px; border-radius: 8px;}

.cm-field-main select {width: 100%; height: 50px; font-size: 18px; line-height: 20px; border: 0px solid #CCC; background: #FFF; padding: 0px 15px 0px 55px; border-radius: 5px; font-family:'Metropolis-Regular',Sans-Serif !important; -moz-appearance: none; -webkit-appearance: none; -0-appearance: none; cursor: pointer; background:url(../images/arrow-down-b.webp) no-repeat right 15px center / 20px #FFF;}

.cm-field-main select > option { font-size: 13px; padding: 10px 14px !important; border: 0px !important; display: block !important; line-height: 40px !important;}


.w80 { width: 80% !important;}
.w90 { width: 90% !important;}
.w895 { width: 95% !important;}





.calendar-icon { background: url(../images/calendar.png) no-repeat center left 16px / 26px #FFF !important; }


.field-icon { position: absolute; left: 10px; top: 23px; width: 50px; height: 50px;}
.field-icon img { width: 70%; opacity: 0.4;}

.m-cont-left {}
.m-cont-right {}
.m-cont-bottom { margin-top: 50px;}

.user-photo { margin-top: 25px;}
.user-photo img { width: 200px;height: 200px; margin: 0 auto; border-radius: 30px;}

.user-photo-btn { text-align: center;}


label.cameraButton {
  width: auto; font: bold 18px/20px 'Metropolis-Bold',Sans-Serif; color: #555; border-radius: 8px; text-transform: uppercase; text-decoration: none; padding: 15px 30px; display: inline-block; border: 0px; text-decoration: none !important; background: #FFF; box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.3); margin: 20px 5px 10px; cursor: pointer;
}
label.cameraButton:hover { background: #0CF; color: #FFF;}

/* Look like a clicked/depressed button */
label.cameraButton:active {
  border-color: #CCC #EEE #EEE #CCC;
}

/* This is the part that actually hides the 'Choose file' text box for camera inputs */
label.cameraButton input[accept*="image/*"] {
  display: none;
}



.common-popup-wrapper { width: 100% !important; position: fixed; left: 0px; top: 0px; z-index: 999999999999999; background: rgba( 0, 0, 0, 0.4); /*display: none;*/}
.common-popup-section { height: 100vh; justify-content:center !important;flex-direction: column; user-select: none; overflow-x:hidden; overflow-y: scroll;}
.common-popup-main { width: 500px; height:auto; background: #FFF;  border-radius: 10px; position: relative; margin: 0 auto;  user-select: none; overflow: hidden; padding: 0px;}

.d-flex { display: flex;}

.cm-field-content-main { max-height: 80vh; padding: 20px 30px 25px; overflow-x: hidden; overflow-y: scroll;}
.common-popup-title { width: 100%; background: #3B5E6C; color: #FFF; padding: 10px 30px 10px 30px;}
.common-popup-title h5 { color: #FFF; margin-bottom: 0px; font-size: 18px; font-weight: bold;}

.common-popup-wrapper .close-btn { width: 40px; height: 40px; position: absolute; right: 10px; top: 10px; z-index:999; border-radius: 50%; background: #ff7f7f; text-align: center; display:flex; justify-content: center; flex-direction:column; cursor: pointer;}
.common-popup-wrapper .close-btn img { width: 16px; height: 16px; margin: 0 auto;}
.common-popup-wrapper .close-btn:hover { background: #F00;}

.common-popup-content-main { padding: 40px 40px 50px}
.common-popup-content-main h4 { line-height: 40px; padding-top: 20px;}

.success-icon { width: 250px; margin: 0 auto;}


.qrcode-main { width: 100%; display: none; position:absolute; right: 30px; bottom: 30px; z-index: 9;}
.qrcode { width: 100px; float: right; }





@media (max-width: 1024.98px) {

.qrcode-main{ display: block;}

.welcome-image img { width: 500px; }


}
@media (max-width: 991.98px) {



}
@media (max-width: 768.98px) {

.home-title { font-size: 30px; line-height: 35px; }
.home-title span { font-size: 25px;}


.w90 {
  width: 100% !important;
}

.main-content {
  padding: 100px 30px;
}

.az-logo img {
  width: 100px; }


  .n-btn, label.cameraButton { font-size: 16px; padding: 12px 30px;}

 .cm-field-main .input-field {
  height: 40px; }

  .field-icon {

  width: 40px;
  height: 40px;
  position: absolute;
left: 30px;
top: 19px;
}
.cm-field-main {
  margin-bottom: 13px; padding: 0px 20px }

.cm-field-main p { padding-bottom: 5px;}




}
@media (max-width: 575.98px) {

.common-popup-main {
  width: 90%;}

  .welcome-image img { width: 100%; }


    .field-icon {
  position: absolute;
left: 10px;}

.cm-field-main {
   padding: 0px 0px }


.qrcode-main { width: 100%; display: block; position: inherit; right: auto; bottom: auto; z-index: 9;}
.qrcode {
  width: 100px;
  float: none;
  margin: 0 auto 100px;
}

.main-content {
  padding: 100px 30px 30px;
}

.n-btn, label.cameraButton {
  font-size: 14px;
  padding: 10px 26px;
}

}
@media (max-width: 414.98px) {



}
